/* Site desenvolvido pela NewAge Agency */
* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
}

body, html {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.row {
    padding: 0;
    margin: 0;
}