<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0'">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">

    <!-- Fontes -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800,900&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/newage.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>HelpCOVID</title>
</head>
<body>
    <div class="header">
        <h1>HelpCOVID</h1>
        <h2>Versão 1.0</h2>
    </div>
    <div class="container">
        <div class="col-12">
            <div class="form-covid margin-top mx-auto">
                <h1>Acessar sua conta</h1>
                <form action="">
                    <input type="text" name="username" placeholder="e-Mail ou Telefone" required>
                    <input type="password" name="password" placeholder="Senha" required>
                    <a href="#">Esqueceu sua senha?</a>
                    <button class="btn btn-blue margin-bottom">Acessar</button>
                </form>
            </div>
        </div>
        <div class="footer-covid">
            <p>ou acesse através do</p>
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-white"><i class="fab fa-facebook-f"></i></button>
                </div>
                <div class="col-6">
                    <button class="btn btn-white"><i class="fab fa-google"></i></button>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-blue margin-bottom">Acessar</button>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/popper.js"></script>
    <script type="text/javascript" src="js/mask.js"></script>
    <script type="text/javascript" src="js/validate.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>